---
noop: false
interval: 60
handlers:
  PodNotReady:
    enabled: true
    params:
      timeout: 3600

  PodStuckTerminating:
    enabled: true
    params:
      also_jobs: true

  PodStuckPending:
    enabled: true
    params:
      label_selector:
        kubernetes.io/arch: amd64
